.App {
  position: relative;
  display: block;
  box-sizing: border-box;
  font-family: 'Indie Flower', sans-serif;
  color: white;
}

/* Home page */

Button.account {
  margin: 1rem;
}

h1.homeTitle {
  font-size: 85px;
}

div.homeBlurb {
  font-size: 30px;
}

.homeBlurbColor {
  background-color: rgb(118, 115, 115, 0.5);
  border-radius: 20%;
}
/* End of home page */

/* Footer */
.footer {
  position: fixed;
  display: flex;
  justify-content: center;
  bottom: 0;
  width: 100vw;
  margin: 0px;
  padding-bottom: 1rem;
}
/* End of footer */
