.App {
  position: relative;
  display: block;
  box-sizing: border-box;
  font-family: 'Merienda', cursive;
}

/* Wave on home page */
.wave-container {
  position: relative;
  overflow: hidden;
}
.wave-container > svg {
  display: block;
}
/* End of wave on home page */

/* Home page */
Button.account {
  margin: 1rem;
}

h1.homeTitle {
  font-size: 45px;;
}
/* End of home page */

/* Footer */
.footer {
  position: fixed;
  display: flex;
  justify-content: center;
  bottom: 0;
  width: 100vw;
  margin: 0px;
  padding-bottom: 1rem;
}
/* End of footer */
