.App {
  position: relative;
  text-align: center;
  display: block;
  box-sizing: border-box;
}

.account {
  margin: 1rem;
}

.footer {
  position: fixed;
  display: flex;
  justify-content: center;
  bottom: 0;
  width: 100vw;
  padding-bottom: 1rem;
}
