* {
  font-family: 'Merienda', cursive;
}

.wave-container {
  position: relative;
  overflow: hidden;
}
.wave-container > svg {
  display: block;
}

.App {
  /* position: relative; */
  text-align: center;
  /* display: block; */
  box-sizing: border-box;
}

h1.homeTitle {
  font-size: 45px;;
}

.footer {
  position: fixed;
  display: flex;
  justify-content: center;
  bottom: 0;
  width: 100vw;
  padding-bottom: 1rem;
}
